# ===== Python cache =====
__pycache__/
*.py[cod]

# ===== Virtual environments =====
venv/
.env/
.env*/
.venv/

# ===== IDE / editor =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Directories for videos/frames =====
FRAMES/
YT_DOWNLOADS/
txt_TEST/
LABELS/
*.mp4
*.avi
*.jpg
*.png

# ===== Directories for models and training =====
dataset/
models/
output/
pdf_to_img/
tab_pdfs/
cuda_test.py
*.pt