# ===== Python cache =====
__pycache__/
*.py[cod]

# ===== Virtual environments =====
venv/
.env/
.env*/
.venv/

# ===== IDE / editor =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Directories for videos/frames =====
FRAMES/
YT_DOWNLOADS/
*.mp4
*.avi
*.jpg
*.png